doctype html
head
  title Curriculum Vitæ - Sébastien Elet
  meta(http-equiv='content-type' content='text/html; charset=utf-8')
  link(rel='stylesheet' href='css/screen.css' type='text/css')
body
  address
    ul
      li 
        a(href='mailto:sebastien@elet.fr') 
          i(class='icon-mail')
          |  sebastien@elet.fr
      li 
        i(class='icon-phone')
        |  +33 (0)6 70 94 18 54
      li 
        a(href='https://www.google.fr/maps/@49.8941542,2.2219363,12z')
          i(class='icon-location')
          |  Amiens (80)

  h1 Expérience
  div.timeline.experience.section
    ul
      li.anchored
        time(datetime="2011-02") Depuis 2011
        h2 Denaroo - Chef de projet informatique et télécoms
        | Développement d'un outil de gestion des emails avec collecte 
        | SMTP/imap en nodejs
        br
        | Intégration d'angularjs sur les applicatifs existants
        br
        | Prestations sur des applicatifs existants en Symfony 2 et Zend Framework 1.
        br 
        | Mise en place de jeux de tests sur les applications existantes
        | (Atoum, simpletest, mocha, sinon, casperjs)
        br
        | Développement d'une nouvelle CTI en nodejs.
        br
        | Migration des IPBX Asterisk vers Freeswitch.
        br
        | Migration de SVN vers Git
      li.anchored
        time(datetime="2007-11") 2007-2011
        h2 Denaroo - Développeur informatique et télécoms
        | Monitoring des serveurs (Munin) et des communications (Voipmonitor).
        br
        | Déploiement de NGINX / XEN / LXC en production.
        br 
        br 
        | Développement d'applications dédiées aux centres d'appels et aux 
        | centres de relation client :
        ul.group
          li CRM : PHP5 / memcache / mySQL
          li SVI : AEL Asterisk ou Javascript Freeswitch
          li CTI : Java / Perl
      li.anchored
        time(datetime="2007") 2007
        h2 InSitu Multimedia
        | Refonte d'un site marchand en PHP5 / mySQL
      li.anchored
        time(datetime="2006") 2006
        h2 CH Abbeville 
        | Mise en place d'un serveur mandataire transparent
        | avec filtrage d'adresse limitant l'accès au seul usage professionnel.
        | Mise en place du monitoring des serveurs et des switch via SNMP.

  h1 Compétences
  div.skills.section
    ul
      li Front-end : HTML, CSS, Javascript (MV*)
      li Back-end : Javascript, PHP, redis, mongodb, mySQL
      li Script : Zsh, Bash, Make
      li Unix : iptables, nginx, ansible, drbd
      li OS : OSX, Linux GNU Debian, RouterOS
      li VOIP : Freeswitch, Asterisk

  h1 Diplômes
  div.timeline.education.section
    ul
      li
        time(datetime='2007') 2007
        | Licence professionnelle développeur web
        cite Université de Picardie Jules Vernes
      li
        time(datetime='2006') 2006
        | BTS Informatique de gestion option Administrateur de réseaux locaux d'entreprise
        cite Lycée Saint Rémi
      li
        time(datetime='2003') 2003
        | BAC STI Électrotechnique
        cite Lycée Edouard Branly
